<footer id="footer">
    <div class="footer-line">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            © Copyright Hridhyanam. All Rights Reserved.
          </div>
        </div>
      </div>
    </div>
</footer>

<script src="static/js/jquery.min.js"></script>
<script src="static/js/jquery.easing.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/custom.js"></script> 

</body>

</html>