{% extends 'layout.html' %}

{% block body %}
  <!--/ banner-->

  <!--upload-->
  <section id="upload" class="section-padding">
  	<div class="container">
  		<div class="content">
  			<h2 class="ser-title">URL Upload</h2>
  			<hr class="botm-line">
        <form action = "http://localhost:5000/uploader" method = "POST" >
          <div class="row">
                  <div class="col-md-6 col-sm-6">
                    <p class="text-center">Enter URL:</p>
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <input type = "text" name = "url" />
                  </div>
          </div>
          <br>
          <div class="row">
              <div class="col-md-4 col-sm-4"></div>
              <div class="col-md-4 col-sm-4">
                <input type="submit" class="btn btn-form btn-block" style="background-color:#0cb8b6;color:white;" value="Find sub domains" name="submit">
              </div>
          </div>
  			</form>
  			</div>
  	</div>
  </section>
  <!--/ upload-->

{% endblock %}
